
body{
     
     height: 100vh;
     margin: 0;
     background-color: cornflowerblue
}

.form-login{
    text-align: center;
}

.map-container{
     width: 60vw;
     height: 800px;
}

.admin-map{
     width: 47vw;
     height: 65vh;
}

.map{
     position: fixed;
}


.reverse{
     margin-top: 60px;
}

input{
     width: 400px;
}


.split{
     display: flex;
    flex-wrap: wrap;
    background-color: cornflowerblue;
   
}

.admin-map{
width: 50vw;
}


#delete-markers{
    position: absolute;
    z-index: 10000;
    bottom: 0;
}



.admin-client-see{
     background-color:ghostwhite;
     padding: 20px;
     
}

.rides{
     width: 40vw;
    
}

.driverLocal{
     background-color: cadetblue;
     padding: 20px;
    
     margin: auto;
}

.driver-number{
     width: 200px;
}

.map-and-markers{
     background-color: cadetblue;
     height: 110vh;
}

.hide{
     display: none;
}

.inactive{
     background-color: salmon;
}

.active{
     background-color: ghostwhite;
}


.nav{
     height: auto;
     background-color: #d4e2f0;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
     align-content: center;
     padding: 10px;
     text-align: center;
}


.nav-link{
     color: black;
     text-decoration: none;
     font-size: 23px;
     margin-left: 15px;
     margin-bottom: 20px;

}


    /* driver page */

.whole-driver-div{
     background-color: cornflowerblue;
  
     width: 100vw;
}

    .driver-view{
        width: 50vw;
        padding: 30px;
        margin: auto;
        background-color: whitesmoke;
        margin-top: 50px;
        border-radius: 5px;
        font-size: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;


    
    }


    .driver-map{
     width: 100vw;
     margin-top: 20px;
    }

    .map-view-driver{
     width: 50vw;
   margin-top: 60px;
   margin-right: 10px;

    }

    .button-css{
     display: flex;
     flex-direction: column;
    }
    .button{
     margin: auto;
     background-color: lightskyblue;
     border-color: transparent;
     padding: 15px;
     border-radius: 10px;
     color:white;
     margin-top: 20px;
     width: 200px;
     
    }

      /* client page */

      .client-map{
          margin-bottom: 30px;
          width: 100vw;
          height: 400px;
      }

      .client-input{
          height: 30px;
          width: 75vw;
          margin: auto;
      }
      .client-form{
          text-align: center;
      }

      .client-find-me{
          text-align: center;
          margin-top: 30px;
      }
      .client-whole-div{
          background-color: cornflowerblue;
         
      }

      .client-span{
          background-color: whitesmoke;
          width: 50vw;
          margin: auto;
          padding: 5px;
          border-radius: 10px;
          margin-bottom: 10px;
      }
      

      .client-status{
          text-align: center;
          background-color: ghostwhite;
          width: 50vw;
          margin: auto;
          padding: 2px;
          margin-bottom: 10px;
          border-radius: 10px;
      }
#reverse{
     margin-top: 50px;
     margin-top: 10px;
     margin-bottom: 20px;
     padding-bottom: 20px;
}

.gm-style-mtc{
     display: none;
}


    /* driver page 1080p */
  

@media screen and  (min-width:1080px){
     .driver-view{
          width: 40vw;
          padding: 30px;
          float: left;
          background-color: whitesmoke;
          margin-top: 50px;
          margin-left: 20px;
          border-radius: 5px;
          font-size: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
         
     }
     .map-view-driver {
          width: 40vw;
          margin-top: 30px;
          margin-right: 190px;
          float: right;
      }
      .whole-driver-div {
          background-color: cornflowerblue;
      
     
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-around;
      }

      .driver-map{
          width: 50vw;
      }
          /* admin page 1080p */

      .map-container {
          width: 59vw;
          height: 800px;
      }

      .split {
          display: flex;
          flex-wrap: wrap;
          background-color: cornflowerblue;
          flex-direction: row;
          align-items: flex-start;
      }
      
       /* client page 1080p */

      .client-map{
          width: auto;
          height: 50vh;
      }

      .client-input{
          width: 500px;
      }

      .client-span{
          width: 500px;
      }

      .client-status{
          width: 500px;
      }


      .nav {
          height: auto;
          background-color: #d4e2f0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          padding: 30px;
          text-align: center;
          justify-content: flex-start;
      }
      
      .logged-in {
          position: absolute;
          right: 100px;
      }
}


